<div class="card">
    <h5 class="card-header">Laporan Pemuatan</h5>
    <div class="card-body">
        <div class="mb-2"> 
            <div class="container">
                <div class="row d-flex align-items-end">
                  <!-- <div class="align-self-center col-md-2"> -->
                    <div class="col-md-2">
                        <!-- <button (click)="openAddEntriModal()" type="button" class="mt-3 btn btn-primary">Tambah Entri</button> -->
                        <button  (click)="openAddEntriModal()" type="button" class="mb-3 btn btn-primary">Tambah Entri</button>
                    </div>
                  <!-- <div class="align-self-center col-md-10"> -->
                    <!-- <div class="col-md-10"> -->
                    <form class="col-md-10 d-flex row">
                        <!-- <div class="align-self-center col-md-5"> -->
                        <!-- <div class="col-md-5 d-flex align-items-end"> -->
                            <div class="col-md-5 d-flex align-items-end">
                                <div class="form-group">
                                    <label for="nama-judul-media">Nama Pengarang / Judul / Media</label>
                                    <input type="text" class="form-control" formControlName="namaJudulMedia"  
                                        id="nama-judul-media" placeholder="Cari berdasarkan nama pengarang, judul, atau media">
                                        <!-- <small *ngIf="errorUsernameKosong" id="emailHelp" class="form-text text-danger">Harap diisi</small> -->
                                </div>
                            </div>
                                <!-- <div class="align-self-center col-md-5"> -->
                            <div class="col-md-5 d-flex align-items-end">
                                <div class="form-group">
                                    <label for="tanggal-muat">Tanggal Pemuatan</label>
                                    <input type="date" class="form-control" formControlName="tanggalMuat" 
                                        id="tanggal-muat">
                                    <!-- <small *ngIf="errorPasswordKosong" id="emailHelp" class="form-text text-danger">Harap diisi</small> -->
                                </div>
                            </div>
                            <!-- <div class="align-self-center col-md-2"> -->
                            <div class="col-md-2 d-flex align-items-end">
                                <button type="submit" class="mb-3 btn btn-info">Pencarian</button>
                            </div>
                    </form>
                </div>
            </div>  
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nama Pengarang</th>
                    <th scope="col">Judul</th>
                    <th scope="col">Jenis</th>
                    <th scope="col">Media</th>
                    <th scope="col">Tanggal Terbit</th>
                    <th scope="col">Bukti Pemuatan</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entri of entris | paginate: {id:'listing_pagination',
                    itemsPerPage:10,currentPage:currentPage,totalItems:totalRecords} ">
                    <td>{{entri.nama_lengkap}}</td>
                    <td>{{entri.judul_karya}}</td>
                    <td>{{entri.jenis_karya}}</td>
                    <td>{{entri.media}}</td>
                    <td>{{entri.tanggal_muat}}</td>
                    <td>
                        <a [routerLink]="['/storage/bukti_pemuatan',entri.id,entri.bukti_pemuatan]">Link</a>
                    </td>
                    <td>
                        <button type="button" (click)="editEntri(entri.id)" class="btn btn-warning mr-2">Edit</button>
                        <button type="button" (click)="hapusEntri(entri.id)" class="btn btn-danger">Hapus</button>
                    </td>
                </tr>
            </tbody>
          </table>
          <div>
              <pagination-controls id="listing_pagination" maxSize="10" directionLinks="true" 
              (pageChange)="currentPage=$event"></pagination-controls>
          </div>
    </div>
</div>