<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pemuatan Sastra Minggu</a>
    <button (click)="toggleCollapsed()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarSupportedContent">
        
        <div *ngIf="loggedIn;then thenBlock;else elseBlock">
        </div>
        
        <ng-template #thenBlock>
            <div class="navbar-nav ml-auto">
                <span class="btn noHover">{{username}}</span>
                <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="navbar-nav ml-auto">
                <button type="button" (click)="openLoginModal()" class="btn btn-link">Login</button>
                <button type="button" (click)="openRegisterModal()" class="btn btn-link">Register</button>
            </div>
        </ng-template>

        <!-- <div class="navbar-nav ml-auto">
            <button type="button" (click)="openLoginModal()" class="btn btn-link">Login</button>
            <button type="button" class="btn btn-link">Register</button>
        </div> -->
    </div>
</nav>