<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-sm-11 mx-auto">
            <div class="card">
                <h5 class="card-header">Laporan Pemuatan</h5>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nama Pengarang</th>
                                <th scope="col">Judul</th>
                                <th scope="col">Jenis</th>
                                <th scope="col">Media</th>
                                <th scope="col">Tanggal Terbit</th>
                                <th scope="col">Bukti Pemuatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ristirianto Adi</td>
                                <td>Tidak Ada Pesan Moral</td>
                                <td>Cerpen</td>
                                <td>Horison</td>
                                <td>2021/01/12</td>
                                <td>
                                    <a href="#">Link</a>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>