<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-sm-2">
            <ul class="nav flex-sm-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLinkActive="active" routerLink="laporan_pemuatan">Laporan Pemuatan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="notifikasi">Notifikasi</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <app-laporan-pemuatan-user></app-laporan-pemuatan-user>
        </div>
    </div>
</div>
